$color-pink: #FFD6D6
$color-border: #FF9999
$color-accent: #B64A4A
$color-text: #49516F

$font-swizer: "Switzer", sans-serif
$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$h1-font-family: $font-swizer

$header-background: white
// $header-border-bottom-width: 0
$hero-background-color: $color-pink
$footer-background-color: none
