$color-pink: #FFF0F0
$color-border: none
$color-accent: #49516F
$color-text: #49516F


$font-AlegreyaSans: "AlegreyaSans", sans-serif
$font-Switzer: "Switzer", sans-serif
$heading-font-family: $font-Switzer
$body-font-family: $heading-font-family
$color-background-alt: #EFF4FA

$h1-font-family: $font-AlegreyaSans

$header-background: white
// $header-border-bottom-width: 0
$hero-background-color: $color-pink
$footer-background-color: none

$btn-background: $color-accent
$btn-color: #FFFFFF
$btn-border: none
