@include media-breakpoint-up(desktop)
    .projects--grid
        grid-template-columns: repeat(3, 1fr)

    main > .blocks .block-video--player .block-content, body.full-width .block-video--player .block-content 
        display: block !important
        margin-bottom:  2rem





    header#document-header
        nav.primary-menu
            background-color: $color-pink

a.btn
    font-size: 24px

a.btn:hover
    background: #BFD7EA

.categories--cards article  a 
    font-size: 36px !important

.hero .content .hero-actions .dropdown-share button
    display: none