$primary-saumon: #FFD6D6;
$primary-blue-medium: #BFD7EA;
$primary-midnight: #49516F;
$primary-violet: #E8DAEF;

$secondary-violet-lighter: #F6F1F9;
$secondary-saumon-lighter: #FFF0F0;
$secondary-blue-lighter: #EFF4FA;

$danger-saumon-darker: #FF9999;
$danger-red-medium: #FF5C5C;
$danger-red-darker: #B64A4A;

$background: #FFFDFD;