// $primary-saumon: #FFD6D6;
// $primary-blue-medium: #BFD7EA;
// $primary-midnight: #49516F;
// $primary-violet: #E8DAEF;

// $secondary-violet-lighter: #F6F1F9;
// $secondary-saumon-lighter: #FFF0F0;
// $secondary-blue-lighter: #EFF4FA;

// $danger-saumon-darker: #FF9999;
// $danger-red-medium: #FF5C5C;
// $danger-red-darker: #B64A4A;

// $background: #FFFDFD;

// .spacing-1 {margin: 8px; }
// .spacing-2 {margin: 12px; }
// .spacing-3 {margin: 24px; }
// .spacing-4 {margin: 48px; }
// .spacing-5 {margin: 64px; }
// .spacing-6 {margin: 128px; }
// .spacing-7 {margin: 256px; }

// $size-h1-bold: (font-size: 48px, font-family: 'Switzer-Bold')

// $size-h1-medium: (font-size: 48px, font-family: 'Switzer-Medium')

// $size-h2: (font-size: 36px, font-family: 'Switzer-Medium')

// $size-h3: (font-size: 28px, font-family: 'Switzer-Medium')

// $size-texte: (font-size: 18px, font-family: 'Excon-Medium')

// $legende: (font-size: 16px, font-family: 'Excon-Medium')

// $button-desktop: (font-size: 18px, font-family: 'Excon-Medium')

// $button: (font-size: 16px, font-family: 'Excon-Medium')

@include media-breakpoint-up(desktop)
    .projects--grid
        grid-template-columns: repeat(3, 1fr)
