.block-pages .grid article, .block-pages .cards article, .block-pages .list article, .pages .grid article, .pages .cards article, .pages .list article{
    background: $primary-saumon;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    column-gap: 1.5rem;
    border-radius: 10px;
    width: fit-content;
    max-width: 750px;
}



.block-pages .grid article .media, .block-pages .cards article .media, .block-pages .list article .media, .pages .grid article .media, .pages .cards article .media, .pages .list article .media{
    border-radius: 5px;
    margin: 0;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: fit-content;
    max-width: 20%;
}

@media screen and (max-width:825px) {
    .block-pages .grid article, .block-pages .cards article, .block-pages .list article, .pages .grid article, .pages .cards article, .pages .list article{
        flex-direction: column;
    }
    html body main .block-pages .grid article .media, .block-pages .cards article .media, .block-pages .list article .media, .pages .grid article .media, .pages .cards article .media, .pages .list article .media{
        border-radius: 5px;
        margin: 0;
        aspect-ratio: auto;
        object-fit: cover;
        height: fit-content;
        max-width: 100%;
    }
    

}




main > .blocks .block-pages .grid, body.full-width .block-pages .grid, main > .blocks .block-pages .cards, body.full-width .block-pages .cards, main > .blocks .pages .grid, body.full-width .pages .grid, main > .blocks .pages .cards, body.full-width .pages .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.block-pages .grid, .block-pages .cards, .pages .grid, .pages .cards {
     display: block;

}

.containerSummeryLink{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}